<!DOCTYPE html>
<html lang="en">
<head>
  <title>Footer Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="footer.component.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>company</h4>
  	 			<ul>
  	 				<li><a href="#">about us</a></li>
  	 				<li><a href="#">our services</a></li>
  	 				<li><a href="#">privacy policy</a></li>
  	 				<li><a href="#">Press center</a></li>
                    <li><a href="#">news</a></li>
                    <li><a href="#">Communication stores</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Technologies</h4>
  	 			<ul>
  	 				<li><a href="#">5G</a></li>
  	 				<li><a href="#">еSIM</a></li>
  	 				<li><a href="#">VoLTE</a></li>
  	 				<li><a href="#">All technologies</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>online shop</h4>
  	 			<ul>
  	 				<li><a href="#">invoice</a></li>
  	 				<li><a href="#">CMS</a></li>
  	 				<li><a href="#">rouming</a></li>
  	 				<li><a href="#">tariff</a></li>
  	 			</ul>
  	 		</div>
               <div class="footer-col">
                <h4>Contact center:</h4>
                <ul>
                    <li><a href="#">116
                        Support service</a></li>
                    <li><a href="#">611
                        for calls within Kazakhstan</a></li>
                    <li><a href="#">+7 707 000 07 07
                        for calls within Kazakhstan</a></li>
                    
                </ul>
            </div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
     
  </footer>
  

</body>
</html>
