.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-container p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin: 10px 0;
  }
  
  .tariff-info button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s;
  }
  
  .tariff-info button:hover {
    background-color: #2980b9;
  }
  
  .tariff-info p {
    font-weight: bold;
  }
  
  
  .tariff-info {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .logout-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s;
    margin-top: 30px;
  }
  
  .logout-button:hover {
    background-color: #c0392b;
  }