.home-container {
  text-align: center;
  margin-top: 50px;
}
button {
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
button:hover {
  background-color: #cc0000;
}
